*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nonito', sans-serif;

}

:root{
    --main:#252323;
    --corners:#2c2c2cd0;
    --title: #ffffff;
    --text: #c5bebe;
    --border: #1DB954;
}
body {
    margin: 0;
    background-image: url(background.jpg);
    background-size: 1500px;
    background-color: #cccccc;
    text-align: center;
}

.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

.left-section{
    grid-column: span 2;
    height: 100%;
    width: 100%;
    background-color: var(--corners);
}

.right-section{
    grid-column: span 5;
    height: 100%;
    width: 100%;
    background-color: var(--main);
 
}
/* -------------- the left section ------------ */
.left-content{
    padding: 2.5rem 2.5rem;
}
.profile{
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--border);
    
}

.profile img{
    width: 100%;
    border-radius: 5%;
    border: 4px solid var(--border);

}

.name{
    font-size: 1.8rem;
    color: var(--title);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: px;
    padding: 2rem 0rem;
}

.career{
   font-size: 1rem;
   color: var(--title);
   text-transform: uppercase;
   letter-spacing: 1px;
   padding-bottom: 1rem 0;

}

.contact-info{
    border-bottom: 1px solid var(--border);
}
.main-title{
    font-size: 1rem;
    color: var(--title);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 1.2rem;
    align-items: center;

}

.contact-info ul{
    padding: 1.2rem 0;
    font-size: 0.6rem;
}

.contact-info ul li{
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    color: var(--title);

}

.contact-info ul i{
    padding-right: 0.4rem;
    font-size: 1.1rem;
    color: var(--border);
}


.skills-section ul{
    padding: 1rem 0;
}
.skills-section ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.24rem 0;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}


.progress-bar{
    width: 100%;
    height: 0.4rem;
    background-color: var(--main);
    position: relative;
    border-radius: 12px;   
}

.progress{
    height: 100%;
    position: absolute;
    left: zero;
    background-color: var(--border);
    border-radius: 12px;
}

.comsol-progress{
    width: 70%;
}
.matlab-progress{
    width: 70%;
}
.py-progress{
    width: 60%;
}
.opt-progress{
    width: 60%;
}
.ml-progress{
    width: 60%;
}
.adobe-progress{
    width: 30%;
}

.bayes-progress{
    width: 20%;
}
.r-progress{
    width: 20%;
}
.skill-title{
   text-transform: uppercase;
   color: var(--title);
   font-size: 0.8rem;

}

/* -------------- the right section ------------ */

right-main-content{
    padding: 2rem 3rem;
}
.topnav{
    padding: 1rem 0;
    background-color: var(--main);
    overflow: hidden;
}

.topnav a{
    color: var(--title);
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 17px;

  }
  
  .topnav a:hover {
    background-color: var(--border);
    color: black;
  }
  
  .topnav a.active {
    background-color: var(--border);
    color: white;
  }

.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--title);
    margin-bottom: 1.2rem;
    position: relative;
    text-align: left;
    padding-left: 2rem;
    padding-top: 1rem;  
}

.right-title::after{
    content: "";
    position: absolute;
    width: 60%;
    height: .07rem;
    background-color: var(--border);
    border-radius: 12px;
    right: 1rem;
    top: 65%;
    transform: translateY(-50%);
    
}


.para{
    line-height: 1.6rem;
    color: var(--text);
    font-size: 1.1rem;
    padding: 0rem 2rem;
    text-align: center;
    text-justify: inter-word;
}

.sect{
    padding-bottom: 2rem;
}


.timeline{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.right-tl-content{
    grid-column: span 3;
}

.left-tl-content tl-title{
    text-transform: capitalize;
}

.tl-content ul li{
    list-style-type: square;
    text-align: left;
    font-size: 1rem;
    text-justify: inter-word;
    padding: 0.2rem 0;
     
}

.tl-content-t2 ul li{
    list-style-type: square;
    text-align: left;
    font-size: 1rem;
    text-justify: inter-word;
    padding: 0.2rem 0;
     
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: var(--text);
}
.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: var(--text);
}

.tl-content{
    border-left: 1px solid var(--border);
    padding-left: 0.3rem;
    position: relative;
    padding-bottom: 2rem;
}


.tl-title-2::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: var(--border);
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}